a.btn .fa {
	margin-right: 5px;
	vertical-align: -1px;
}

a.btn:hover .fa {
	color: #22A5FF;
}

.storage-manager-wrapper {
	padding: 15px 20px;
	margin-bottom: 15px;
}

.storage-manager-wrapper h3 {
	color: #555;
	font-weight: normal;
	line-height: 1;
	font-size: 22px;
	margin: 5px 0 13px;
}

.storage-manager-wrapper .empty-storage {
	border: 1px dashed #999;
	height: 320px;
	text-align: center;
}

.storage-manager-wrapper .empty-storage button {
	margin-top: 25px;
}

.storage-manager-wrapper .empty-storage i.main-icon {
	margin-top: 60px;
	font-size: 72px;
}

.storage-manager-wrapper .empty-storage .main-title {
	font-size: 18px;
	margin-top: 40px;
}

.storage-manager-wrapper .empty-storage .sub-title {
	color: #909099;
	margin-top: 5px;
}

.storage-manager-wrapper .storage-choice .logo-header {
	width: 118px;
	height: 40px;
	vertical-align: -8px;
}

.storage-manager-wrapper .storage-provider-wrapper {
	opacity: 0.6;
	max-width: 596px;
	width: 49%;
	display: inline-block;
	vertical-align: top;
	margin: 6px 12px 6px 0;
}

.storage-manager-wrapper .storage-provider-wrapper.active-storage,
.storage-manager-wrapper .storage-provider-wrapper:hover {
	opacity: 1;
}

.storage-manager-wrapper .storage-provider-wrapper button {
	margin-right: 10px;
}

.storage-manager-wrapper .storage-choice {
	background: #FFF;
	border: 1px solid #D0D0D9;
	border-radius: 2px;
	line-height: 46px;
	padding: 7px 25px 7px;
}

.storage-manager-wrapper .storage-choice .check-icon-wrapper {
	width: 22px;
	display: inline-block;
	vertical-align: 5px;
	margin-right: 15px;
	visibility: hidden;
}

.storage-provider-wrapper.active-storage .storage-choice .check-icon-wrapper {
	visibility: visible;
}

.storage-provider-wrapper:hover .storage-choice .check-icon-wrapper {
	visibility: visible;
	opacity: 0.4;
	/*webkit-animation: blinker 2s linear infinite;
	animation: blinker 2s linear infinite; */
}

.storage-provider-wrapper.active-storage:hover .storage-choice .check-icon-wrapper {
	opacity: 1;
}

.storage-manager-wrapper .storage-choice .check-icon {
	font-size: 25px;
}

.storage-manager-wrapper .active-storage .storage-choice a .check-icon {
	color: #22A5FF;
	opacity: 1;
}

.storage-provider-wrapper .storage-choice a:hover .check-icon {
	color: #22A5FF;
}

.storage-manager-wrapper .storage-choice .right-section {
	float: right;
	line-height: 25px;
	padding-top: 13px;
}

.storage-manager-wrapper .storage-choice .right-section a {
	margin-left: 11px;
}

.storage-manager-wrapper .storage-choice .right-section a.remove-storage-link {
	position: relative;
	top: -2px;
}

.storage-manager-wrapper .storage-choice .right-section a:hover .fa {
	color: #22A5FF;
}

.storage-manager-wrapper .storage-choice .right-section a:hover .fa {
	color: #22A5FF;
}

.storage-manager-wrapper .active-storage .select-storage-link:hover .fa {
	color: #555;
}

.storage-manager-wrapper .storage-choice .right-section a.remove-storage-link:hover .fa {
	color: #ff0009;
}

.storage-manager-wrapper .storage-choice a .fa {
	font-size: 25px;
	vertical-align: middle;
}

.storage-manager-wrapper .storage-choice .edit-storage-link:hover {
	color: #22A5FF;
}

.storage-manager-wrapper .storage-choice .storage-name {
	font-weight: 600;
	margin-top: 13px;
	text-align: right;
}

.storage-manager-wrapper .storage-choice .folder-icon {
	color: #D0D0D9;
	font-size: 20px;
	margin-right: 10px;
	vertical-align: middle;
}

.storage-manager-wrapper .storage-choice .edit-path {
	color: #505059;
	cursor: pointer;
	font-size: 20px;
	margin-left: 10px;
	vertical-align: middle;
}

.storage-manager-wrapper .storage-choice #path {
	margin: 0 5px;
}

.storage-manager-wrapper .storage-choice .custom-path {
	display: inline-block;
}

.storage-provider-wrapper .storage-item-settings {
	padding-top: 10px;
}

.storage-provider-wrapper .storage-item-settings > .row-fluid {
	border-top: 1px solid #D0D0D9;
	padding-top: 18px;
}

.storage-item-settings input[type="text"],
.storage-item-settings input[type="password"] {
	border-right: 1px solid #F5F5F5;
	border-bottom: 1px solid #F5F5F5;
}

.storage-item-settings .buttons-wrapper {
	text-align: center;
}

@keyframes blinker {
	50% { opacity: 0; }
}