<h2>{{i18n.recordings.recordingsTable.title}}</h2>
<table id="recordings-list" data-sorting="true">
	<thead>
		<tr>
			<th>№</th>
			<th>{{i18n.recordings.recordingsTable.columnHeader.name}}</th>
			<th>{{i18n.recordings.recordingsTable.columnHeader.lastModified}}</th>
			<th data-type="html" data-sort-use="text">{{i18n.recordings.recordingsTable.columnHeader.play}}</th>
			<th data-type="html" data-sort-use="text">{{i18n.recordings.recordingsTable.columnHeader.download}}</th>
		</tr>
	</thead>
	<tbody>
	{{#each this.files}}
		<tr>
			<td>{{inc @index}}</td>
			<td>{{Key}}</td>
			<td>{{toFriendlyDate LastModified}}</td>
			<td>
				<div class="btn-wrapper">
					<a class="js-play-audio play-btn" href="{{url}}"></a>
				</div>
			</td>
			<td>
				<div class="btn-wrapper">
					<a class="download-btn" href="{{url}}" download=""></a>
				</div>
			</td>
		</tr>
	{{/each}}
	</tbody>
</table>