<table id="recordings-list">
	<thead>
		<tr>
			<th data-type="number">№</th>
			<th>{{i18n.recordings.recordingsTable.columnHeader.direction}}</th>
			<th>{{i18n.recordings.recordingsTable.columnHeader.callerIdName}}</th>
			<th data-type="date">{{i18n.recordings.recordingsTable.columnHeader.datetime}}</th>
			<th>{{i18n.recordings.recordingsTable.columnHeader.dialerNumber}}</th>
			<th data-type="number">{{i18n.recordings.recordingsTable.columnHeader.duration}}</th>
			<th>{{i18n.recordings.recordingsTable.columnHeader.from}}</th>
			<th data-filterable="false" data-type="html" data-sort-use="text">
				{{i18n.recordings.recordingsTable.columnHeader.play}}
			</th>
			<th data-filterable="false" data-type="html" data-sort-use="text">
				{{i18n.recordings.recordingsTable.columnHeader.download}}
			</th>
		</tr>
	</thead>
	<tbody>
	{{#each this.recordings}}
		<tr>
			<td>{{inc @index}}</td>
			<td>{{direction}}</td>
			<td>{{caller_id_name}}</td>
			<td>{{datetime}}</td>
			<td>{{dialed_number}}</td>
			<td>{{duration_seconds}}</td>
			<td>{{from}}</td>
			<td>
				<div class="btn-wrapper">
					<a class="js-play-audio play-btn" data-filename="{{recording_file_name}}" href=""></a>
				</div>
			</td>
			<td>
				<div class="btn-wrapper">
					<a class="js-download-audio download-btn" href="" download="{{recording_file_name}}"></a>
				</div>
			</td>
		</tr>
	{{/each}}
	</tbody>
</table>