<div class="filters">
	<div class="filter-item datetime-filter">
		<input id="date-from" class="date-input" type="text"/>
		<input id="time-from" class="time-input" type="text"/>
		<span class="delimiter">to</span>
		<input id="date-to" class="date-input" type="text"/>
		<input id="time-to" class="time-input" type="text"/>
		<div class="set-date-buttons">
			<a href="" class="js-set-date-range date-range-active" data-range="all">all time</a>
			<a href="" class="js-set-date-range" data-range="last-year">last year</a>
			<a href="" class="js-set-date-range" data-range="last-month">last month</a>
			<a href="" class="js-set-date-range" data-range="last-week">last week</a>
			<a href="" class="js-set-date-range" data-range="last-day">last day</a>
			<a href="" class="js-set-date-range" data-range="last-hour">last hour</a>
		</div>
	</div>
	<div class="filter-item direction-filter">
		<div class="form-group">
			<select class="form-control" id="direction">
				<option value="all" selected>All direction</option>
				<option value="outgoing">Outgoing</option>
				<option value="inbound">Inbound</option>
			</select>
		</div>
	</div>
	<div class="filter-item caller-id-name-filter">
		<div class="form-group">
			<select data-placeholder="Choose a caller name..." class="form-control" id="caller-id-name" multiple>
				<option value="Vladimir Barkas">Vladimir Barkas</option>
				<option value="Michael Radionov">Michael Radionov</option>
			</select>
		</div>
	</div>

</div>
<table id="recordings-list">
	<thead>
		<tr>
			<th>№</th>
			<th>{{i18n.recordings.recordingsTable.columnHeader.direction}}</th>
			<th>{{i18n.recordings.recordingsTable.columnHeader.callerIdName}}</th>
			<th>{{i18n.recordings.recordingsTable.columnHeader.datetime}}</th>
			<th>{{i18n.recordings.recordingsTable.columnHeader.dialerNumber}}</th>
			<th>{{i18n.recordings.recordingsTable.columnHeader.duration}}</th>
			<th>{{i18n.recordings.recordingsTable.columnHeader.from}}</th>
			<th>
				{{i18n.recordings.recordingsTable.columnHeader.play}}
			</th>
			<th>
				{{i18n.recordings.recordingsTable.columnHeader.download}}
			</th>
		</tr>
	</thead>
	<tbody>
	{{#each this.recordings}}
		<tr>
			<td>{{inc @index}}</td>
			<td>{{direction}}</td>
			<td>{{caller_id_name}}</td>
			<td>{{datetime}}</td>
			<td>{{dialed_number}}</td>
			<td>{{duration_seconds}}</td>
			<td>{{from}}</td>
			<td>
				<div class="btn-wrapper">
					<a class="js-play-audio play-btn" data-filename="{{recording_file_name}}" href=""></a>
				</div>
			</td>
			<td>
				<div class="btn-wrapper">
					<a class="js-download-audio download-btn" href="" download="{{recording_file_name}}"></a>
				</div>
			</td>
		</tr>
	{{/each}}
	</tbody>
</table>