<div class="storage-item-settings">
	<div class="s3 row-fluid">
		<div class="span12">
			<form class="form-horizontal s3-settings">
				<label class="control-group">
					<span class="control-label">Bucket name</span>
					<div class="controls">
						<input type="text" name="bucket">
					</div>
				</label>
				<label class="control-group">
					<span class="control-label">Key</span>
					<div class="controls">
						<input type="text" name="key">
					</div>
				</label>
				<label class="control-group">
					<span class="control-label">Secret</span>
					<div class="controls">
						<input type="text" name="secret">
					</div>
				</label>
				<div class="buttons-wrapper clearfix">
					<button type="submit" class="btn btn-primary js-save" >Save Changes</button>
					<button type="button" class="btn js-cancel">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>