<div id="storage_manager_wrapper" class="storage-manager-wrapper">
	<h3>{{ @root.i18n.recordings.storageManager.title }}</h3>
	{{#compare countAttachments ">" 0}}
		{{#each plans}}
			<div class="storage-provider-wrapper active-storage" data-plan="{{extra.type}}"{{#if extra.isConfigured}} data-uuid="{{attachments.handler}}" data-path="{{params.folder_path}}"{{/if}}>
				{{#if @root.displayPlanName}}
					<div class="plan-name">{{ extra.type }}</div>
				{{/if}}

				{{#if extra.isConfigured}}
					<div class="storage-choice">
						<a href="" class="js-set-default-storage select-storage-link check-icon-wrapper">
							<i class="check-icon fa fa-check-circle"></i>
						</a>
						<svg class="logo-header"><use xlink:href="#{{#compare extra.detailAttachment.handler "===" "s3"}}aws{{else}}g-drive{{/compare}}--color" /></svg>
						<div class="right-section">
							<span class="storage-name">{{ extra.detailAttachment.name }}</span>
							<a class="js-edit-storage edit-storage-link" href="#"><i class="fa fa-pencil-square-o"></i></a>
							<a class="js-remove-storage remove-storage-link" href="#"><i class="fa fa-trash-o"></i></a>
						</div>

						<div class="js-item-settings-wrapper"></div>
					</div>
				{{/if}}
			</div>

			<!--div class="storage-provider-wrapper" data-plan="{{extra.type}}"{{#if extra.isConfigured}} data-path="{{params.folder_path}}"{{/if}}>
				{{#if @root.displayPlanName}}
					<div class="plan-name">{{ extra.type }}</div>
				{{/if}}

				{{#if extra.isConfigured}}
					<div class="storage-choice">
						<a href="" class="js-select-storage check-icon-wrapper">
							<i class="check-icon fa fa-check-circle"></i>
						</a>
						<svg class="logo-header"><use xlink:href="#{{#compare extra.detailAttachment.handler "===" "s3"}}aws{{else}}g-drive{{/compare}}--color" /></svg>
						<div class="right-section">
							<span class="storage-name">{{ extra.detailAttachment.name }}</span>
							<a class="js-edit-storage edit-storage-link" href="#"><i class="fa fa-pencil-square-o"></i></a>
							<a class="js-remove-storage remove-storage-link" href="#"><i class="fa fa-trash-o"></i></a>
						</div>
					</div>
				{{/if}}
			</div-->


			<!--div class="storage-provider-wrapper active-storage" data-plan="{{extra.type}}" {{#if extra.isConfigured}}
				 data-path="{{params.folder_path}}" {{/if}}>
				{{#if @root.displayPlanName}}
					<div class="plan-name">{{ extra.type }}</div>
				{{/if}}

				{{#if extra.isConfigured}}
					<div class="storage-choice">
						<a href="" class="js-select-storage select-storage-link check-icon-wrapper">
							<i class="check-icon fa fa-check-circle"></i>
						</a>
						<svg class="logo-header">
							<use xlink:href="#{{#compare extra.detailAttachment.handler "===" "s3"}}aws{{else}}g-drive{{/compare}}--color" />
						</svg>
						<div class="right-section">
							<span class="storage-name">{{ extra.detailAttachment.name }}</span>
							<a class="js-edit-storage edit-storage-link" href="#"><i class="fa fa-pencil-square-o"></i></a>
							<a class="js-remove-storage remove-storage-link" href="#"><i class="fa fa-trash-o"></i></a>
						</div>

						<div class="storage-item-settings">
							<div class="s3 row-fluid">
								<div class="span12">
									<form class="form-horizontal s3-settings">
										<label class="control-group">
											<span class="control-label">Bucket name</span>
											<div class="controls">
												<input type="text" name="bucket">
											</div>
										</label>
										<label class="control-group">
											<span class="control-label">Key</span>
											<div class="controls">
												<input type="text" name="key">
											</div>
										</label>
										<label class="control-group">
											<span class="control-label">Secret</span>
											<div class="controls">
												<input type="text" name="secret">
											</div>
										</label>
										<div class="buttons-wrapper clearfix">
											<button type="submit" class="btn btn-primary js-save" >Save Changes</button>
											<button type="button" class="btn js-cancel">Cancel</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				{{/if}}
			</div-->
		{{/each}}
	{{/compare}}
	<div>
		<a href="" class="js-create-storage btn">
			<i class="fa fa-plus"></i>
			{{ @root.i18n.recordings.storageManager.newStorageBtnText }}
		</a>
	</div>
</div>