@import url('../../../css/vendor/jquery/jquery.dataTables.css');

/* Override dataTables plugin images to base 64 */
table.dataTable thead .sorting {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAAkElEQVQoz7XQMQ5AQBCF4dWQSJxC5wwax1Cq1e7BAdxD5SL+Tq/QCM1oNiJidwox0355mXnG/DrEtIQ6azioNZQxI0ykPhTQIwhCR+BmBYtlK7kLJYwWCcJA9M4qdrZrd8pPjZWPtOqdRQy320YSV17OatFC4euts6z39GYMKRPCTKY9UnPQ6P+GtMRfGtPnBCiqhAeJPmkqAAAAAElFTkSuQmCC');
}
table.dataTable thead .sorting_asc {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZ0lEQVQ4y2NgGLKgquEuFxBPAGI2ahhWCsS/gDibUoO0gPgxEP8H4ttArEyuQYxAPBdqEAxPBImTY5gjEL9DM+wTENuQahAvEO9DMwiGdwAxOymGJQLxTyD+jgWDxCMZRsEoGAVoAADeemwtPcZI2wAAAABJRU5ErkJggg==');
}
table.dataTable thead .sorting_desc {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZUlEQVQ4y2NgGAWjYBSggaqGu5FA/BOIv2PBIPFEUgxjB+IdQPwfC94HxLykus4GiD+hGfQOiB3J8SojEE9EM2wuSJzcsFMG4ttQgx4DsRalkZENxL+AuJQaMcsGxBOAmGvopk8AVz1sLZgg0bsAAAAASUVORK5CYII=');
}
table.dataTable thead .sorting_asc_disabled {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAAW0lEQVQoz2NgoCm4w3Vnwh02wspK7/y6k01Ikdadx3f+37l9RxmfIsY7c4GKQHDiHUbcyhzvvIMq+3THBpci3jv7oIpAcMcdduzKEu/8vPMdDn/eiWQYBYMKAAC3ykIEuYQJUgAAAABJRU5ErkJggg==');
}
table.dataTable thead .sorting_desc_disabled {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAAWUlEQVQoz2NgGAWDCtyJvPPzznc4/HknEbsy9js77vyHw313eHGZZ3PnE1TRuzuOuK1lvDMRqmzuHUZ87lO+cxuo6PEdLUIeyb7z604pYf+y3Zlwh4u2YQoAc7ZCBHH4jigAAAAASUVORK5CYII=');
}

/* Override datepicker and timepicker */
.ui-datepicker {
	background-color: white;
}

.ui-datepicker-calendar .ui-state-default {
	color: #333;
}

.ui-datepicker-calendar .ui-state-default.ui-state-hover {
	border-color: #22A5FF;
	background-color: #22A5FF;
	color: white;
}

li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
	background: #22A5FF;
}

/* App styles*/
label {
	font-size: 17px;
}

select,
input[type="text"] {
	vertical-align: 1px;
	-webkit-box-shadow: inset 1px 1px #ddd;
	-moz-box-shadow: inset 1px 1px #ddd;
	box-shadow: inset 1px 1px #ddd;
	border: none;
}


#recordings_wrapper table {
	background: white;
}

#recordings_wrapper table th,
#recordings_wrapper table td {
	line-height: 1;
	padding: 8px;
	border: none;
}

#recordings_wrapper table th {
	padding-left: 0;
}

#recordings_wrapper table td {
	padding-left: 8px;
	padding-right: 8px;
}

#recordings_wrapper table thead tr {
	background: #e8e8e8;
}

#recordings_wrapper table tbody tr:nth-child(even) {
	background-color: #eee;
}

#recordings_wrapper tfoot tr.footable-paging {
	background: #f5f5f5;
}

#recordings_wrapper tfoot tr.footable-paging td {
	border: none;
}

#recordings_wrapper table .footable-paging .label {
	background: #f5f5f5;
	color: #848484;
	text-shadow: none;
	font-weight: normal;
}

#recordings_wrapper table td audio {
	width: 100px;
}

#recordings_wrapper table td .btn-wrapper {
	padding-top: 5px;
	text-align: center;
}

.play-btn {
	display: inline-block;
	width: 26px;
	height: 26px;
	background: #333;
	border: none;
	border-radius: 100%;
	margin: auto;
	cursor: pointer;
}

.play-btn::after {
	content: '';
	display: inline-block;
	position: relative;
	top: 8px;
	left: 1px;
	vertical-align: top;
	border-style: solid;
	border-width: 5px 0 5px 10px;
	border-color: transparent transparent transparent white;
}

.download-btn {
	display: inline-block;
	position: relative;
	padding: 13px 13px;
	background-color: #333;
	color: white;
	font-family: sans-serif;
	text-decoration: none;
	font-size: 0.9em;
	text-align: center;
	text-indent: 15px;
}

.download-btn:hover {
	background-color: #333;
	color: white;
}

.download-btn:before, .download-btn:after {
	content: ' ';
	display: block;
	position: absolute;
	left: 6px;
	top: 52%;
}

/* download box */
.download-btn:before {
	width: 10px;
	height: 2px;
	border-style: solid;
	border-width: 0 2px 2px;
}

/* download arrow */
.download-btn:after {
	width: 0;
	height: 0;
	margin-left: 3px;
	margin-top: -7px;

	border-style: solid;
	border-width: 4px 4px 0 4px;
	border-color: transparent;
	border-top-color: inherit;

	animation: downloadArrow 2s linear infinite;
	animation-play-state: paused;
}

.download-btn:hover:before {
	border-color: white;
}

.download-btn:hover:after {
	border-top-color: white;
	animation-play-state: running;
}

#recordings_wrapper table thead .footable-filtering {
	background: #F5F5F5;
}

#recordings_wrapper table .footable-filtering th {
	border: none;
}

.datetime-filter .date-input,
.datetime-filter .time-input {
	border: 0;
	font-size: 18px;
	padding: 4px 22px;
}

.datetime-filter .date-input {
	width: 85px;
	border: 0;
	font-size: 18px;
}

.datetime-filter .time-input {
	width: 39px;
}

.datetime-filter .delimiter {
	display: inline-block;
	margin: 0 5px;
	vertical-align: top;
}

.set-date-buttons a {
	border-radius: 0;
	margin-right: 14px;
	height: 19px;
	display: inline-block;
	vertical-align: top;
	line-height: 1;
	font-size: 18px;
}

.set-date-buttons a:hover {
	border-bottom: 1px dashed;
}

.set-date-buttons .date-range-active,
.set-date-buttons .date-range-active:hover {
	color: #333;
	border-bottom: none;
	cursor: default;
}

.dataTables_wrapper .dataTables_filter input {
	vertical-align: 1px;
	-webkit-box-shadow: inset 1px 1px #ddd;
	-moz-box-shadow: inset 1px 1px #ddd;
	box-shadow: inset 1px 1px #ddd;
	border: none;
}

select[name="recordings-list_length"] {
	width: 70px;
}


@keyframes downloadArrow {
	0% {
		margin-top: -7px;
		opacity: 1;
	}

	0.001% {
		margin-top: -15px;
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		margin-top: 0;
		opacity: 0;
	}
}
